nav ul li{
    list-style-type: none;
}

ul li a{
    color: grey;
}
    

.footer{
    background-color: rgb(241, 239, 239);
}

.footerBox{
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.form{
    width: 40%;
}

.icono{
    width: 2rem;
}

.logo-footer{
    width: 12rem;
}

.footer_nav{
    width: 30%;
}