*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: auto;
    height: auto;
    background-color: white
}

h1{
    font-family: $parrafos;
    color: $naranja;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

h2{
    font-family: $parrafos;
}

.logo-nav{
    width: 5em;
    height: auto;
}

.slogan{
    font-family: $especial;
    color: black;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    strong{
        color: $amarillo;
    }
}

