
article{
  .box{
    background-color: $amarillo;
    margin: 1em;
    width: 60%;
    a{
      text-decoration: none;
      color: white;
      background-color: black;
      padding: 0.5em 3% 0.5em 3%;
      border-radius: 5px;
      margin-left: 40%;
    }
    a:hover{
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }
  .imgContainer{
    padding: 2em;
    width: 30%;
  }
}

h2{
  padding-left: 0.5em;
  padding-top: 0.5em;
}


/*MOBILE*/

@media (min-width:375px){
.gridServicios{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "article1"
  "article2"
  "article3"
  "article4"
  ;
}
}

.ar1{
  grid-area: article1;
  width: 100%;
}


.ar2{
  grid-area: article2;
  width: 100%;
}

.ar3{
  grid-area: article3;
  width: 100%;
}

.ar4{
  grid-area: article4;
  width: 100%;
}


.ar1, .ar2, .ar3, .ar4{
  width: 100%;
  margin-left: 3.5em;
}

/*Tablet*/
@media screen and (min-width:768px){
  .ar1{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ar2{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ar3{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ar4{
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.imgContainer{
  padding: 2em;
  width: 50%;
}



/*Ordenador*/
@media screen and (min-width:992px){
  .ar1{
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
  }

  .ar2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ar3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ar4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}