/*Mobile*/
<<<<<<< HEAD
 div{
=======
@media (min-width:375px){
 .vid1, .vid2{
     width: 75%;
     margin-left: 3em;
>>>>>>> style
     iframe{
         width: 100%;
         height: auto;
     }
 }

 h3{
     padding-left: 0.5em;
 }

 .intro{
     background-color: $violeta;
 }

 .masInfo{
     background-color: $violeta;
     margin-top: 0.5em;
 }

 .formacion{
     background-color: $amarillo;
     margin-top: 0.5em;
     padding-bottom: 0.5em;
     margin-bottom: 0.5em;
    }



/*Tablet*/
@media (min-width:768px){
    .container-sobremi{
        display: grid;
        justify-items: center;
        grid-template-columns: 2.7fr 2fr;
        grid-template-rows: 0.65fr 1fr 0.5fr;
        grid-row-gap: 1em;
        grid-template-areas:
        "intro vid1"
        "formacion formacion"
        "logros vid2"
        ;
    }

    h3{
        font-size:large
    }

    p{
        font-size: medium;
    }

    .vid1{
        grid-area: vid1;
        width: 90%;
        height: 100%;
        margin-left: 2em;
        margin-right: 3em;
        padding-left: 0;
        background-color: black;

        iframe{
            width: 100%;
            height: 50%;
            margin-top: 7em;
        }
    }
    .intro{
        grid-area: intro;
        margin-left: 1em;
        font-size: 0.5em;
    }
    .formacion{
        grid-area: formacion;
        margin-left: 1em;
        margin-right: 1em;
    }
    .masInfo{
        grid-area: logros;
        padding-bottom: 1em;
        margin-bottom: 1em;
        margin-left: 1em;
    }
    .vid2{
        grid-area: vid2;
        width: 90%;
        height: 100%;
        margin-left: 2em;
        margin-right: 3em;
        padding-left: 0;

        iframe{
            width: 100%;
            height: 90%;
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }
}

/*Desktop*/
@media (min-width: 992px){
    .container-sobremi{
        display: grid;
        justify-items: center;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 0.65fr 1fr 0.65fr;
        grid-row-gap: 1em;
        grid-template-areas:
        "vid1 intro"
        "formacion formacion"
        "logros vid2"
        ;
    }

    h3{
        padding-left: 1em;
        padding-top: 0.5em;
    }

    .vid1{
        grid-area: vid1;
        background-color: white;
        iframe{
            width: 100%;
            height: 100%;
            margin-top: 0%;
        }
    }

    .intro{
        grid-area: intro;
    }

    .formacion{
        grid-area: formacion;
    }

    .masInfo{
        grid-area: logros;
    }

    .vid2{
        grid-area: vid2;
        width: 90%;
        height: auto;
        background-color: white;
        margin-bottom: 1em;
        padding-left: 3em;
        iframe{
            width: 70%;
            height: 100%;
            margin-top: 0%;
            margin-bottom: 1em;
    
        }
    }
}
